// Colors
$headingColor: #ffffff;
$accentColor: #463d45;
$accentColor2: #ce737b;
$black: #000;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Open+Sans:wght@300&display=swap');
$headingFont: 'Castoro', serif;
$bodyFont: 'Open Sans', sans-serif;

// Screen Sizes
$hdScreen: 1800px;
$lrgTablet: 1300px;
$smlTablet: 1150px;
$lrgPhone: 550px;
$smlPhone: 390px;
$phoneLS: 412px;
